body {
	background: #f2f2f2;
	padding-bottom: 160px;
}
.jumbotron {
	background: #333;
	color: #fff;
}
.btn-default.active,.btn-default:active {
	background: #666;
	color: #fff;
	text-shadow:none;
}
#PreView {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #fff;
	padding: 10px;
	z-index: 100;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2);
	border-top: 2px solid #666;
}
#PreView .title{
	position: absolute;
	top: -30px;
	left: 0;
	height: 30px;
	background: #666;
	padding:8px 20px 0 20px;
	font-size: 12px;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius:0 5px 0 0;
}
#PreviewCode {
	height: 300px;
	margin: 5px 0 ;
}
iframe.previewArea {
	width: 100%;
	height:100px;
}


